@model MvcApplication4.Models.Shop

@{
    ViewBag.Title = "StrengthTraining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StrengthTraining</h2>
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/magnific-popup.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/jquery-ui.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/owl.carousel.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/owl.theme.default.min.css")>

    <link rel="stylesheet" href=@Url.Content("/Content/css/style.css")>

</head>
<body>
    <div class="site-section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-md-9 order-2">

                    <div class="row">
                        <div class="col-md-12 mb-5">
                            <div class="float-md-left mb-4"><h2 class="text-black h5">Shop</h2></div>
                            <div class="d-flex">

                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">

                        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/s.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">5 Hour Energy Shot Drink Extra Strength Berry 1.93Oz 57Ml</p>
                                    <p class="text-primary font-weight-bold">Rs. 2,000</p>
                                </div>
                            </div>
                        </div><div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/a.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">Ab Rocket Twister Abdominal Trainer-Red  </p>
                                    <p class="text-primary font-weight-bold">Rs. 3,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/b.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">All-In-One Protein In The Works - 14 Servings - (1kg) - Chocolate Silk</p>
                                    <p class="text-primary font-weight-bold">Rs. 5,500</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/c.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">Dried Goji Berries - 400g - Natural</p>
                                    <p class="text-primary font-weight-bold">Rs. 2,500</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/d.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">Dumbbell Rubber Set-26KG.jpg</p>
                                    <p class="text-primary font-weight-bold">Rs. 1,500</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/e.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">Iron Gym-Single Bar-Black </p>
                                    <p class="text-primary font-weight-bold">Rs. 4,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/f.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">Omega 3 Fish Oil - 90 Capsules</p>
                                    <p class="text-primary font-weight-bold">Rs. 1,500</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/g.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">Organic Chia Seeds - 500g - Natural</p>
                                    <p class="text-primary font-weight-bold">Rs. 2,900</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/h.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">Stainless Steel Shaker - Gold </p>
                                    <p class="text-primary font-weight-bold"> Rs. 1,6470</p>
                                </div>
                            </div>


                        </div>

                        <div class="col-sm-6 col-lg-4 mb-4 aos-init aos-animate" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a href="shop-single.html"><img src=@Url.Content("/Content/images/Strength/i.jpg") alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="shop-single.html" class="P" data-id="0">Add to Cart </a></h3>

                                    <p class="mb-0">Super Multivitamin - 90 caps - 45 Servings</p>
                                    <p class="text-primary font-weight-bold">Rs. 3,700</p>
                                </div>
                            </div>
                        </div>








                    </div>
                    
                </div>

                <div class="col-md-3 order-1 mb-5 mb-md-0">
                    <div class="border p-4 rounded mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1"><a href="/Shop/StrengthTraining/StrengthTraining.cshtml" class="d-flex"><span>Strength Training</span> <span class="text-black ml-auto">(10)</span></a></li>
                            <li class="mb-1"><a href="/Shop/TeamSports/TeamSports.cshtml" class="d-flex"><span>Team Sports</span> <span class="text-black ml-auto">(10)</span></a></li>
                            <li class="mb-1"><a href="/Shop/Racket/Racket.cshtml" class="d-flex"><span>Racket Sports</span> <span class="text-black ml-auto">(10)</span></a></li>
                            <li class="mb-1"><a href="/Shop/Accesories/Accesories.cshtml" class="d-flex"><span>Accessories</span> <span class="text-black ml-auto">(10)</span></a></li>
                            <li class="mb-1"><a href="/Shop/SportsGadget/SportsGadget.cshtml" class="d-flex"><span>Sports Gadget</span> <span class="text-black ml-auto">(10)</span></a></li>
                            <li class="mb-1"><a href="/Shop/Indoor/Indoor.cshtml" class="d-flex"><span>Indoor</span> <span class="text-black ml-auto">(10)</span></a></li>
                            
                        </ul>
                    </div>

                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="site-section site-blocks-2">
                        <div class="row justify-content-center text-center mb-5">
                            <div class="col-md-7 site-section-heading pt-4">
                                <h2>Categories</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 aos-init aos-animate" data-aos="fade" data-aos-delay="">
                                <a class="block-2-item" href="/Shop/StrengthTraining/StrengthTraining.cshtml">
                                    <figure class="image">
                                        <img src=@Url.Content("/Content/images/Strength/e.jpg") alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <span class="text-uppercase">Collections</span>
                                        <h3>Strength Training</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade" data-aos-delay="100">
                                <a class="block-2-item" href="/Shop/TeamSports/TeamSports.cshtml">
                                    <figure class="image">
                                        <img src=@Url.Content("/Content/images/TeamSports/d.jpg") alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <span class="text-uppercase">Collections</span>
                                        <h3>Team Sports</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade" data-aos-delay="200">
                                <a class="block-2-item" href="/Shop/Racket/Racket.cshtml">
                                    <figure class="image">
                                        <img src=@Url.Content("/Content/images/RacketSports/i.jpg") alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <span class="text-uppercase">Collections</span>
                                        <h3>Racket Sports</h3>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 aos-init aos-animate" data-aos="fade" data-aos-delay="">
                                <a class="block-2-item" href="/Shop/Accesories/Accesories.cshtml">
                                    <figure class="image">
                                        <img src=@Url.Content("/Content/images/Accesories/c.jpg") alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <span class="text-uppercase">Collections</span>
                                        <h3>Accessories</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade" data-aos-delay="100">
                                <a class="block-2-item" href="/Shop/SportsGaget/SportsGaget.cshtml">
                                    <figure class="image">
                                        <img src=@Url.Content("/Content/images/SportsGadget/c.jpg") alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <span class="text-uppercase">Collections</span>
                                        <h3>Sports Gadget</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade" data-aos-delay="200">
                                <a class="block-2-item" href="/Shop/Indoor/Indoor.cshtml">
                                    <figure class="image">
                                        <img src=@Url.Content("/Content/images/Indoor/j.jpg") alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <span class="text-uppercase">Collections</span>
                                        <h3>Indoor</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>


@*<script>
    var Products = [];
    $(".product addtocart").click(function(){
    var ProductID =$(this).attr('data-id');
        Products.push(ProductID);
        $cookie('CartProduct',Products.join('-'),{path:'/'});
    swal ({
        title:"Done",
        text:"Product Added to Cart.",
        icon:"Success",

        })
    });
        </script>*@