@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong></div>
        </div>
    </div>
</div>
<div class="site-section border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src=@Url.Content("/Content/images/cricket.jpg") alt="Image placeholder" class="img-fluid rounded">
                        ><a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a>
                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">How We Started</h2>
                </div>
                <p>MK SPORTS provides a one-stop, enhanced shopping experience to consumers online, for their daily grocery needs and planned purchases of housewares, home textiles, toys, gifts, etc. Currently it operates in Karachi offering 24/7 deliveries and customer support with short-term plans to expand its operations nationwide.

MK SPORTS operates it’s own dedicated and stocked fulfilment centre along with a fleet of vehicles to provide express deliveries, daily time slotted deliveries and overnight order fulfilment.

Currently operating in beta phase, MK SPORTS has already forged valuable business relationships with majority of brands in CPG category and is moving rapidly to expanding the number of SKU’s available for its customers.</p>
               

            </div>
        </div>
    </div>
</div>
<div class="site-section border-bottom" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>The Team</h2>
            </div>
        </div>
       
            <div class="row">

                <div class="col-md-1 col-lg-1">
                  
                        <div class="block-38 text-center">

                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src=@Url.Content("/Content/AdminLogin/images/IMG_20180303_023004_869.jpg") alt="Image placeholder" class="mb-4">

                                    <h3 class="block-38-heading h4">Muhammad Kamran</h3>
                                    <p class="block-38-subheading">CEO/Co-Founder</p>
                                </div>
                  
                            </div>
                        </div>
                 
</div>
        
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    @*<div class="block-38-img">
                        <div class="block-38-header">
                            <img src=@Url.Content("/Content/images/") alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Jennifer Greive</h3>
                            <p class="block-38-subheading">Co-Founder</p>
                        </div>
                        
                    </div>*@
                </div>
            </div>
            @*<div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src=@Url.Content("/Content/images/") alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Patrick Marx</h3>
                            <p class="block-38-subheading">Marketing</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src=@Url.Content("/Content/images/") alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Mike Coolbert</h3>
                            <p class="block-38-subheading">Sales Manager</p>
                        </div>
                        
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>

